<%- include("../subDirHeader") -%>


<div class="lightSection">
  <div class="row">
    <div class="col-lg-6">
      <div class="sectionTextWrapper">
        <div class="sectionTextLeft">
          <span class="center">
            <h5 class="pythonH5">This Site - A Re-Imagining</h5>
          </span>
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <a href="/webdev/examples/reimagined/"> <img src="/images/portfolio_images/reimagine-screenshot.png" class="pythonImage" 
      alt="A screenshot of my reimagined version of this website"></a>
      <p class="thumbCaption">A redesign of this site, different look, different methods, same content.</p>
    </div>
  </div>
</div>
<div class="darkSection">
  <div class="row">
    <div class="col">
      <span class="backToTopDark"><a href="#home">
          <p>BACK TO TOP</p>
        </a></span>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 hideAtSmall">
      <br>

      <p class="thumbCaption">A product sight selling you a thing that I bet you want to buy even though you know it doesn't exist.</p>
    </div>
    <div class="col-lg-6">
      <div class="sectionTextWrapper">
        <div class="sectionTextRight">
          <span class="center">
            <h5 class="pythonH5">One-Page Product Site</h5>
          </span>

          <p>
            Buy My App! It's Great! Or it would be if it existed, probably.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 hideAtBig">
      <p class="thumbCaption">A product sight selling you a thing that I bet you want to buy even though you know it doesn't exist.</p>
    </div>
  </div>
</div>
<div class="lightSection">
  <div class="row">
    <div class="col">
      <span class="backToTopLight"><a href="#home">
          <p>BACK TO TOP</p>
        </a></span>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="sectionTextWrapper">
          <div class="sectionTextLeft">
            <span class="center">
              <h5 class="pythonH5">The Blog Badger</h5>
            </span>
            <p>
            </p>
          </div>
        </div>
        <span class="center">
        </span>
      </div>
      <div class="col-lg-6">
        <img src="../images/python_images/lstr4-screenshot.png" class="clickableImage pythonImage"
          onclick="openModal('default', 0)" alt="LSTR4 screenshot -> ls -tr formatted in prettytable with Python">
        <p class="thumbCaption">lstr4 - Linux command "ls -tr" Wrapped In Python prettytable Module For Reading Ease
        </p>
      </div>
    </div>
  </div>
 

<%- include("../footer") -%>
