<div id="contact">
<h2>Find Me Online</h2>

<div class="contactIcon">
    <a href="https://www.twitter.com/nicmunday"><i class="fa-brands fa-twitter fa-2x" alt="Link To My Twitter Account"></i></a>
</div>
<div class="contactIcon">
    <a href="https://www.instagram.com/wisefoolnic"><i class="fa-brands fa-instagram fa-2x" alt="Link To My Instagram Account"></i></a>
</div>
<div class="contactIcon">
    <a href="https://www.facebook.com/nicmunday"><i class="fa-brands fa-facebook-f fa-2x" alt="Link To My Facebook Account"></i></a>
</div>
<div class="contactIcon">
    <a href="https://www.github.com/nicmunday"><i class="fa-brands fa-github fa-2x" alt="Link To My Github Account"></i></a>
</div>
<div class="contactIcon">
    <a href="https://www.twitter.com/nicmunday"><i class="fa-regular fa-envelope fa-2x" alt="Click Here To Email Me"></i></a>
</div>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
    <script src="../../../js/reimagined.js"></script>

</div>

</body>

</html>