
<div class=""lightboxImages">
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/1.jpg" onclick="openModal('brock', 0)" 
    class="brockImage thumbnail clickableImage" alt="New Forest Ponies Hanging Out In Brockenhurst Town Centre">
  </div>
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/2.jpg" onclick="openModal('brock', 1)" 
    class="brockImage thumbnail clickableImage" alt="Hollands Wood Camping In The Forest Campsite - A Near Flooding Miss">
  </div>
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/3.jpg" onclick="openModal('brock', 2)" 
    class="brockImage thumbnail clickableImage" alt="Ford At The End Of Brockenhurst High Street">
  </div>
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/4.jpg" onclick="openModal('brock', 3)" 
    class="brockImage thumbnail clickableImage" alt="Miles And Miles Of Beautiful Walks">
  </div>
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/5.jpg" onclick="openModal('brock', 4)" 
    class="brockImage thumbnail clickableImage" alt="Pony On The Path">
  </div>
  <div class="galImage">
    <img src="/images/place_images/brockenhurst/6.jpg" onclick="openModal('brock', 5)" 
    class="brockImage thumbnail clickableImage" alt="Hollands Wood Campsite, Ponies Wander Freely">
  </div>
</div>

  
 
  <div id="brockModal" class="modal">
    <span class="close cursor" onclick="closeModal('brock')">&times;</span>
    <div class="modal-content">
  
      <div class="brockSlides">
        <div class="numbertext">1 / 6</div>
        <img src="/images/place_images/brockenhurst/1.jpg" style="width:100%">
      </div>
      <div class="brockSlides">
        <div class="numbertext">2 / 6</div>
        <img src="/images/place_images/brockenhurst/2.jpg" style="width:100%" alt="something Foresty">
      </div>
      <div class="brockSlides">
        <div class="numbertext">3 / 6</div>
        <img src="/images/place_images/brockenhurst/3.jpg" style="width:100%">
      </div>
      <div class="brockSlides">
        <div class="numbertext">4 / 6</div>
        <img src="/images/place_images/brockenhurst/4.jpg" style="width:100%">
      </div>
      <div class="brockSlides">
        <div class="numbertext">5 / 6</div>
        <img src="/images/place_images/brockenhurst/5.jpg" style="width:100%">
      </div>
      <div class="brockSlides">
        <div class="numbertext">6 / 6</div>
        <img src="/images/place_images/brockenhurst/6.jpg" style="width:100%">
      </div>
  
     
      <a class="prev" onclick="plusDefaultSlides('brock', -1)">&#10094;</a>
      <a class="next" onclick="plusDefaultSlides('brock', 1)">&#10095;</a>
    <!-- Caption text -->
      <div class="caption-container">
        <p id="brockCaption"></p>
      </div> 
      
  </div>
</div>