
 <div id="campingCarouselSmall" class="carousel slide carousel-dark" data-bs-ride="carousel" interval="4000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#campingCarouselSmall" data-bs-slide-to="8" aria-label="Slide 9"></button>
      </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/place_images/brockenhurst/2.jpg" class="d-block w-100" alt="Slide 1">
        </div>      
        <div class="carousel-item">
        <img src="images/place_images/brockenhurst/1.jpg" class="d-block w-100" alt="Slide 2">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/brockenhurst/3.jpg" class="d-block w-100" alt="Slide 3">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/swanage/1.jpg" class="d-block w-100" alt="Slide 4">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/swanage/2.jpg" class="d-block w-100" alt="Slide 5">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/swanage/3.jpg" class="d-block w-100" alt="Slide 6">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/cromer/1.jpg" class="d-block w-100" alt="Slide 7">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/cromer/2.jpg" class="d-block w-100" alt="Slide 8">
       </div>
      <div class="carousel-item">
        <img src="images/place_images/cromer/3.jpg" class="d-block w-100" alt="Slide 9">
       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#campingCarouselSmall" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#campingCarouselSmall" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

