<!-- Images used to open the lightbox -->
<div class=""lightboxImages">
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/1.jpg" onclick="openCromerModal();currentCromerSlide(1)" 
    class="cromerImage thumbnail clickableImage" alt="Scenic Walk Just Outside Of Cromer">
  </div>
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/2.jpg" onclick="openCromerModal();currentCromerSlide(2)" 
    class="cromerImage thumbnail clickableImage" alt="Cromer Pier">
  </div>
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/3.jpg" onclick="openCromerModal();currentCromerSlide(3)" 
    class="cromerImage thumbnail clickableImage" alt="Nice Walk Just Outside Of Cromer To Old Lighthouse">
  </div>
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/4.jpg" onclick="openCromerModal();currentCromerSlide(4)" 
    class="cromerImage thumbnail clickableImage" alt="Seacroft Caravan and Motorhome Club Campsite, Tent Field, Cromer">
  </div>
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/5.jpg" onclick="openCromerModal();currentCromerSlide(5)" 
    class="cromerImage thumbnail clickableImage" alt="Beautiful Beach Walk Cromer To Sheringham">
  </div>
    <div class="col-xl-4 col-lg-6 col-md-4 col-6">

    <img src="../images/place_images/cromer/6.jpg" onclick="openCromerModal();currentCromerSlide(6)" 
    class="cromerImage thumbnail clickableImage" alt="Sheringham Seafront">
  </div>
  </div>
</div>

  
  <!-- The Modal/Lightbox -->
  <div id="cromerModal" class="modal">
    <span class="close cursor" onclick="closeCromerModal()">&times;</span>
    <div class="modal-content">
  
      <div class="cromerSlides">
        <div class="numbertext">1 / 6</div>
        <img src="../images/place_images/cromer/1.jpg" style="width:100%">
      </div>
      <div class="cromerSlides">
        <div class="numbertext">2 / 6</div>
        <img src="../images/place_images/cromer/2.jpg" style="width:100%" alt="Corfe Castle">
      </div>
      <div class="cromerSlides">
        <div class="numbertext">3 / 6</div>
        <img src="../images/place_images/cromer/3.jpg" style="width:100%">
      </div>
      <div class="cromerSlides">
        <div class="numbertext">4 / 6</div>
        <img src="../images/place_images/cromer/4.jpg" style="width:100%">
      </div>
      <div class="cromerSlides">
        <div class="numbertext">5 / 6</div>
        <img src="../images/place_images/cromer/5.jpg" style="width:100%">
      </div>
      <div class="cromerSlides">
        <div class="numbertext">6 / 6</div>
        <img src="../images/place_images/cromer/6.jpg" style="width:100%">
      </div>
  
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusCromerSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusCromerSlides(1)">&#10095;</a>
    <!-- Caption text -->
      <div class="caption-container">
        <p id="cromerCaption"></p>
      </div> 
      
  </div>
</div>