<%- include("../subDirHeader") -%>

  <div class="lightSection">
    <div class="row">
      <div class="col h1Container ">
        <h1 class="otherH1s">Camping Gear</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3>All the gear and no idea!</h3>
      </div>
  </div>
    <div class=" row">
        <div class="col-lg-6">
          <!-- <div class="gearTextContainer"> -->
            <div class="sectionTextLeftWithHeading">
              <p>
                A lot of outdoor people love talking gear, and I'm definitely one of them. I would say I fall into
                the 'lightweight' catergory. Where there are regular old-school types with 3Kg tents and massive
                backpacks
                and then there are the ultralight crowd with a 30 litre pack, no change of clothes, and everything made
                of
                cuben fibre. Well, I can't afford cuben fibre (now called Dynema) for the most part, but still I do
                travel
                fairly light, taking the minimum and having some pretty decent lightweight kit.
              </p>
              <p>
                If you're wondering why I'm talking about weitght - well, a lot of people do. Put simply, there is
                no-one on
                the planet who can walk further or faster carrying a heavier pack, but then reverse is not true - the
                less you
                carry, the further you can go.
              </p>

              <p>
                Items on this page:
              </p>
              <ul class="linkList">
                <li><a href="#minipeak">Luxe Outdoor MiniPeak II Tent</a></li>
                <li><a href="#lanshan">3F Ultralight Gear Lanshan 1 Tent"></a></li>
                <li><a href="#mariposa">Gossamear Gear Mariposa 60L Backpack</a></li>
                <li><a href="#vNotch">Big Agnes V Notch Ultralight Sleeping Bag</a></li>
                <li><a href="#crashout">Gram Counter Gear Crash Out Sleeping Mat</a></li>
                <li><a href="#poles">Gram Counter Geat Fast Packer Hiking Poles</a></li>
              </ul>
            </div>
          <!-- </div> -->
        </div>
        <div class="col-lg-6"">
        <img src="">IMG
      </div>
    </div>
    </div>
    <div class=" darkSection" id="minipeak">
          <div class="row">
            <div class="col">
              <span class="backToTopDark"><a href="#home">
                  <p>BACK TO TOP</p>
                </a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 hideAtBig">
              <!-- <div class="gearTextContainer"> -->
                <div class="gearTextLeft">


                  <div class="h5cont"><h5>Luxe Outdoor MiniPeak II Tent</h5></div>
                  <p>The Minipeak II is an amazing tent and I love it. It weighs about 1.5Kg and is a two-skin tent.
                    It's a very hard tent to describe - there is an inner which takes up the back half, big enough to
                    sleep in but that's it, then there's the 'porch' area which is more than half the tent. I've
                    comfortably
                    sat there for hours in a thunderstorm watching netflix with no problems.
                  </p>
                  </p>
                  <div id="minipeakExpand" class="collapse">
                    <p>
                      The specs don't all seem great on paper - it's hydrostatic head (how waterproof-ness is measured)
                      is only
                      1500mm, which is about as low as you can go and still be able to call yourself waterproof, but
                      I've slept
                      in it dozens of times and many in rain and never once got wet.
                    </p>
                    <p>
                      The weight is pretty decent too, as is the pack size, especially for the money. It costs about
                      £160 (not
                      including a pole, if you want the luxe one that's an extra £30) and there really aren't many tents
                      for that
                      money that can compare in terms of their cost/weight/comfort intersection.
                    </p>
                    <p>
                      Also the reason there's no pole is you can theoretically set it up with trekking poles so you
                      might not
                      want one - many tents of this type come without one. however, this is a bigger tent than a lot of
                      other
                      trekking pole tents so it's touch-and-go. The optimal height for the Minipeak is supposed to be
                      140cm and
                      most trekking poles only go up to 135cm, but you can set it up at that and it should stay firm.
                      I bought the pole, though.
                    </p>
                    <p>
                      All in all, I would highly recommend this tent.
                    </p>
                  </div>
                  <!-- <button class="linkButtonLight" id="minipeakbutton" type="button" data-bs-toggle="collapse"  -->
                  <!-- data-bs-target="#minipeakExpand" aria-expanded="false" aria-controls="multiCollapseExample2">Show More</button>             -->
                  <a href="#minipeakExpand" data-bs-toggle="collapse" id="minipeakLink">Show More</a>
                </div>
              <!-- </div> -->
            </div>
            <div class="col-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/minipeak1.jpg" onclick="openDefaultModal();currentDefaultSlide(1)"
                      class="defaultImage gearThumbnail1 clickableImage"
                      alt="Luxe Outdoor Minipeak II Tent pitched in Cromer">
                  </div>
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/minipeak2.jpg" onclick="openDefaultModal();currentDefaultSlide(2)"
                      class="defaultImage gearThumbnail2 clickableImage"
                      alt="Luxe Outdoor Minipeak II Tent pitched in Brockenhurst">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 hideAtSmall">
              <div class="gearTextContainer">
                <div class="gearTextRight">
                  <div class="h5cont"><h5>Luxe Outdoor MiniPeak II Tent</h5></div>
                  <p>The Minipeak II is an amazing tent and I love it. It weighs about 1.5Kg and is a two-skin tent.
                    It's a very hard tent to describe - there is an inner which takes up the back half, big enough to
                    sleep in but that's it, then there's the 'porch' area which is more than half the tent. I've
                    comfortably
                    sat there for hours in a thunderstorm watching netflix with no problems.
                  </p>
                  </p>
                  <div id="minipeakExpand" class="collapse">
                    <p>
                      The specs don't all seem great on paper - it's hydrostatic head (how waterproof-ness is measured)
                      is only
                      1500mm, which is about as low as you can go and still be able to call yourself waterproof, but
                      I've slept
                      in it dozens of times and many in rain and never once got wet.
                    </p>
                    <p>
                      The weight is pretty decent too, as is the pack size, especially for the money. It costs about
                      £160 (not
                      including a pole, if you want the luxe one that's an extra £30) and there really aren't many tents
                      for that
                      money that can compare in terms of their cost/weight/comfort intersection.
                    </p>
                    <p>
                      Also the reason there's no pole is you can theoretically set it up with trekking poles so you
                      might not
                      want one - many tents of this type come without one. however, this is a bigger tent than a lot of
                      other
                      trekking pole tents so it's touch-and-go. The optimal height for the Minipeak is supposed to be
                      140cm and
                      most trekking poles only go up to 135cm, but you can set it up at that and it should stay firm.
                      I bought the pole, though.
                    </p>
                    <p>
                      All in all, I would highly recommend this tent.
                    </p>
                  </div>
                  <!-- <button class="linkButtonLight" id="minipeakbutton" type="button" data-bs-toggle="collapse"  -->
                  <!-- data-bs-target="#minipeakExpand" aria-expanded="false" aria-controls="multiCollapseExample2">Show More</button>             -->
                  <a href="#minipeakExpand" id="minipeakLink2" data-bs-toggle="collapse">Show More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lightSection" id="lanshan">
          <div class="row">
            <div class="col">
              <span class="backToTopLight"><a href="#home">
                  <p>BACK TO TOP</p>
                </a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="gearTextContainer">
                <div class="gearTextLeft">
                  <div class="h5cont"><h5>3F Ultralight Gear Lanshan 1 Tent</h5></div>
                  <p>
                    A very good tent that a lot of people swear by. It's almost unbeatable (possibly literally so) in
                    the intersection
                    of weight and price. A two skin tent, it weighs in at just under 1Kg, and costs about £130 - it's
                    made in
                    China so the price can vary with exchange rates/import fees etc. There are UK sellers or you can buy
                    it
                    direct from 3UF.
                  </p>
                  <p>
                    So cheaper and lighter than the Minipeak II then, and a not-inconsiderable weight saving at that, I
                    admit
                    that if I'm going to be walking distance with my pack on then this will probably be my pick.
                  </p>
                  <div id="lanshanExpand" class="collapse">
                    <p>
                      On the other hand, my preference is often to go camping for a few days and then go exploring from
                      that
                      campsite as a sort of basecamp. In this instance, I will almost always choose the Minipeak II.
                      Although
                      you wouldn't think it to look at them, the size difference is very noticeable from inside. The
                      inner
                      of the Lanshan is a bit wider than the Minipeak and you feel like you have a bit more room in
                      there,
                      but it's still hard to sit up in there. And conversely, the porch is much smaller. There's room to
                      sit
                      in there if it's raining (just) but it's pretty cramped even without taking into account all the
                      gear
                      you will undoubtedly have in the porch area. It's fine for sleeping in and storage though, so in
                      the depths of summer where rain is very unlikely, the weight savings may be worth the cost.
                    </p>
                    <p>
                      Another downside as compared to the Minipeak is the pitching. The Minipeak is incredibly easy to
                      pitch,
                      and yet despite being of similar (ish) design, this is not particularly. It's not too hard, but it
                      is pretty
                      hard to do well. It'll often end up leaning a bit more one way or the other, the doors too high
                      letting
                      wind in, or the whole pitch too low making it sag. Quite a pernickity pitcher.
                    </p>
                    <p>
                      I'm also not sold on the waterproofing. It's supposed to be seam-sealed already, but I woke up one
                      morning
                      after rain with some water inside. It could've been condensation, but it was inside the inner so
                      it shouldn't
                      have been. The fabric is <em>very</em> light and thin though, so it's possible I tore a small hole
                      or pulled
                      a seam apart a bit when I was trying to get a good pitch. It's only happened once so far though,
                      so I'm not
                      sure if it's a problem yet.inipeakexpandlink:hover{
                      cursor: pointer;
                      text-decoration: underline;
                      /* CONTACT */


                    </p>
                    <p>
                      Overall I'd say if you're going to buy one of these tents, get the Minipeak II. However if you're
                      really really
                      desperate to shed weight, and especially to do so on a budget then this is still a good tent and
                      although
                      I prefer the Minipeak that's only because I have it to compare so I would still recommend this
                      tent for the
                      'light on a budget' crowd.
                    </p>
                    <p>
                      But if you care about comfort as well, then the Minipeak is your pick. And it's not that heavy!
                    </p>
                  </div>

                  <a href="#lanshanExpand" data-bs-toggle="collapse" id="lanshanLink">Show More</a>
                  <!-- <button class="linkButtonDark" id="lanshanbutton" type="button" data-bs-toggle="collapse" 
                data-bs-target="#lanshanExpand" aria-expanded="false" aria-controls="lanshan">Show More</button>             -->
                </div>
              </div>
            </div>

            <div class="col-lg-6 ">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/lanshan1.jpg" onclick="openDefaultModal();currentDefaultSlide(3)"
                      class="defaultImage gearThumbnail1 clickableImage" alt="3F UL Lanshan 1 Tent Pitched In Cromer">
                  </div>
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/lanshan2.jpg" onclick="openDefaultModal();currentDefaultSlide(4)"
                      class="defaultImage gearThumbnail2 clickableImage" alt="3F UL Lanshan 1 Tent Pitched In Swanage">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="darkSection" id="mariposa">
          <div class="row">
            <div class="col">
              <span class="backToTopDark"><a href="#home">
                  <p>BACK TO TOP</p>
                </a></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 hideAtBig">
              <div class="gearTextContainer">
                <div class="gearTextRight">
                  <div class="h5cont"><h5>Gossamer Gear Mariposa 60 Litre Backpack</h5></div>
                  <p>
                    Review up front: I <em>love</em> this pack. It's probably my favourite piece of camping gear. It's
                    so
                    well designed, it's so comfortable to wear, you can get tons in it and it also carries very well
                    when
                    you don't have tons in it. It's also not massive, considering it's a 60 litre pack. The trick to
                    that is,
                    the main pack is only about 35l. This isn't a con, they tell you about it beforehand. It's all the
                    external
                    pockets that take it to 60l, and they are very well designed.
                  </p>
                  <p>
                    This is another note in Gossamer Gears' favour - you're never really sure what you're getting with
                    other
                    manufacturers. Does the size count the pockets? How big are they anyway? But Gossamer Gear tell you
                    upfront.
                  </p>
                  <div id="mariposaExpand" class="collapse">
                    <p>
                      And the pockets are very clever. Unlike most packs, there's only one water-bottle pocket on a
                      single side,
                      but that pocket is massive and can easily accomodate two one-litre bottles, which is probably what
                      you would
                      get in two pockets on most other bags. The reason it only has one pocket like this is that on the
                      other side
                      is the very clever 'quiver' pocket. This is basically a water bottle pocket on steroids. It starts
                      at the
                      of the pack and the top is about half way up the pack. It's designed to carry things like tent
                      poles and other
                      long objects safely, and is very, very clever. If I ever got a different pack I think this is the
                      feature I'd
                      miss the most. And of course you can put other things in there. I tend to put my long items in
                      first, and
                      then pack smaller stuff sacks in where there's room. The one proviso is of course that it's open
                      to the elements
                      so you will need waterproof bags.
                    </p>
                    <p>
                      In more making-good-use-of-space news, there's another pocket above the water bottle pocket for...
                      Well, whather,
                      I suppose. I keep my stove and pot in there so I can make tea when I'm walking without digging
                      through my pack,
                      but I imagine it could have any number of useful applications.
                    </p>
                    <p>
                      And then comes the big mesh pocket on the back. Lots of packs have this, of course. I would
                      seriously hesistate
                      to buy one that didn't. But this is a particularly fine example. It has a flat bottom, loose mesh,
                      and then a
                      tight top. The first two means that it's <em>massive</em> and you can fit so much stuff in there -
                      the loose
                      mesh means you can put quite a bit in before it's even really stretching, but then the tight top
                      means it would be very difficult to lose things out of it, even when there's a lot in there. The
                      mesh is also
                      quite dense when compared to other similar pockets so which still a weak point (probably the
                      weakest) on
                      the pack, it's still hardier than you would think.
                    </p>
                    <p>
                      Structurally, the pack has a removable frame inside. The frame is basically two solid tubes of
                      metal about 5mm
                      in diameter. It does a pretty good job of weight transfer - not as good as something more
                      substantial, but
                      for the weight of the pack I doubt you will find better.
                    </p>
                    <p>
                      And on that note, the entire pack comes in at under 1Kg. For a 60l pack that is comfortable up to
                      30lbs (13.5Kg)
                      and rated to go to 35lbs I find this weight exceptional. I say under 1Kg, but I think my version
                      is under 900g -
                      I have the older model and I think it got a little bit heavier. It's still under 1Kg though, I
                      believe.
                      And that weight includes the very substantial and comfortable hip belt - which you can remove - as
                      well as the
                      frame. Also, the frame slots directly into the hip belt, make for much better load transfer than
                      if it didn't,
                      which I thought was nice design touch.
                    </p>
                    <p>
                      Incidentally, while both are removable, you can use the pack without the frame but with the hip
                      belt, but the
                      reverse is not true - you cannot use the frame without the hip belt (since it slots in). The hip
                      belt is another
                      piece of design I love about this pack. The pockets, one either side, are simply <em>massive</em>.
                      You can easily
                      fit a smartphone (or three) in there along with all manner of other goodies. The padding on the
                      back of the
                      pockets is extremely thick and extremely comfortable. I haven't had tons of packs, but this is by
                      far the
                      most comfortable hip belt I've experienced. It also comes in several different sizes from 'very
                      skinny person' to
                      'very overweight person' and this is independent of the pack size - you can buy the medium pack
                      with the extra large
                      hip belt if that's your body type. This was a big selling point to my overweight self, and I'm
                      sure it would be to
                      lots of other people since normally the hip belt scales with the pack like we all have the same
                      body type.
                    </p>
                    <p>
                      And now the only real downside. The price. I'm only aware of <a
                        href="https://ultralightoutdoorgear.co.uk/mariposa-60-rucksack/">one retailer</a>
                      in the UK that sells this pack, and it currently costs £310. Ouch. It was quite a bit cheaper when
                      I bought
                      it, and there were other options (two EU websites who are no longer as cheap as they once were in
                      a
                      post-Brexit world). So that's unfortunate. That being said... I would still recommend this pack,
                      at least
                      to the right person. I wouldn't buy it to go camping once obviously, but if you think you're going
                      to go a
                      bunch and it's time to upgrade from the £40 Amazon pack that ways 2Kg, and of course if you can
                      afford it,
                      then I'm honestly not sure there's a better rucksack than this one in existence.
                    </p>
                    <p>
                      The intersection of weight, design, comfort, sturdiness and useability is simply unmatched. Just a
                      shame
                      about the price!
                    </p>
                  </div>
                  <a href="#mariposaExpand" data-bs-toggle="collapse" id="mariposaLink">Show More</a>

                  <!-- <button class="linkButtonLight" id="mariposabutton" type="button" data-bs-toggle="collapse" 
                data-bs-target="#mariposaExpand" aria-expanded="false" aria-controls="mariposa">Show More</button>             -->
                </div>
              </div>
            </div>
            <div class="col-lg-6">

              <div class="container">
                <div class="row">
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/mariposa1.jpg" onclick="openDefaultModal();currentDefaultSlide(5)"
                      class="defaultImage gearThumbnail1 clickableImage" alt="Gossamer Gear Mariposa Backpack">
                  </div>
                  <div class="col-xxl-6">
                    <img src="../images/gear_images/mariposa2.jpg" onclick="openDefaultModal();currentDefaultSlide(6)"
                      class="defaultImage gearThumbnail2 clickableImage" alt="Gossamer Gear Mariposa Backpack">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6 hideAtSmall">
              <div class="gearTextContainer">
                <div class="gearTextRight">
                  <div class="h5cont"><h5>Gossamer Gear Mariposa 60 Litre Backpack</h5></div>
                  <p>
                    Review up front: I <em>love</em> this pack. It's probably my favourite piece of camping gear. It's
                    so
                    well designed, it's so comfortable to wear, you can get tons in it and it also carries very well
                    when
                    you don't have tons in it. It's also not massive, considering it's a 60 litre pack. The trick to
                    that is,
                    the main pack is only about 35l. This isn't a con, they tell you about it beforehand. It's all the
                    external
                    pockets that take it to 60l, and they are very well designed.
                  </p>
                  <p>
                    This is another note in Gossamer Gears' favour - you're never really sure what you're getting with
                    other
                    manufacturers. Does the size count the pockets? How big are they anyway? But Gossamer Gear tell you
                    upfront.
                  </p>
                  <div id="mariposaExpand" class="collapse">
                    <p>
                      And the pockets are very clever. Unlike most packs, there's only one water-bottle pocket on a
                      single side,
                      but that pocket is massive and can easily accomodate two one-litre bottles, which is probably what
                      you would
                      get in two pockets on most other bags. The reason it only has one pocket like this is that on the
                      other side
                      is the very clever 'quiver' pocket. This is basically a water bottle pocket on steroids. It starts
                      at the
                      of the pack and the top is about half way up the pack. It's designed to carry things like tent
                      poles and other
                      long objects safely, and is very, very clever. If I ever got a different pack I think this is the
                      feature I'd
                      miss the most. And of course you can put other things in there. I tend to put my long items in
                      first, and
                      then pack smaller stuff sacks in where there's room. The one proviso is of course that it's open
                      to the elements
                      so you will need waterproof bags.
                    </p>
                    <p>
                      In more making-good-use-of-space news, there's another pocket above the water bottle pocket for...
                      Well, whather,
                      I suppose. I keep my stove and pot in there so I can make tea when I'm walking without digging
                      through my pack,
                      but I imagine it could have any number of useful applications.
                    </p>
                    <p>
                      And then comes the big mesh pocket on the back. Lots of packs have this, of course. I would
                      seriously hesistate
                      to buy one that didn't. But this is a particularly fine example. It has a flat bottom, loose mesh,
                      and then a
                      tight top. The first two means that it's <em>massive</em> and you can fit so much stuff in there -
                      the loose
                      mesh means you can put quite a bit in before it's even really stretching, but then the tight top
                      means it would be very difficult to lose things out of it, even when there's a lot in there. The
                      mesh is also
                      quite dense when compared to other similar pockets so which still a weak point (probably the
                      weakest) on
                      the pack, it's still hardier than you would think.
                    </p>
                    <p>
                      Structurally, the pack has a removable frame inside. The frame is basically two solid tubes of
                      metal about 5mm
                      in diameter. It does a pretty good job of weight transfer - not as good as something more
                      substantial, but
                      for the weight of the pack I doubt you will find better.
                    </p>
                    <p>
                      And on that note, the entire pack comes in at under 1Kg. For a 60l pack that is comfortable up to
                      30lbs (13.5Kg)
                      and rated to go to 35lbs I find this weight exceptional. I say under 1Kg, but I think my version
                      is under 900g -
                      I have the older model and I think it got a little bit heavier. It's still under 1Kg though, I
                      believe.
                      And that weight includes the very substantial and comfortable hip belt - which you can remove - as
                      well as the
                      frame. Also, the frame slots directly into the hip belt, make for much better load transfer than
                      if it didn't,
                      which I thought was nice design touch.
                    </p>
                    <p>
                      Incidentally, while both are removable, you can use the pack without the frame but with the hip
                      belt, but the
                      reverse is not true - you cannot use the frame without the hip belt (since it slots in). The hip
                      belt is another
                      piece of design I love about this pack. The pockets, one either side, are simply <em>massive</em>.
                      You can easily
                      fit a smartphone (or three) in there along with all manner of other goodies. The padding on the
                      back of the
                      pockets is extremely thick and extremely comfortable. I haven't had tons of packs, but this is by
                      far the
                      most comfortable hip belt I've experienced. It also comes in several different sizes from 'very
                      skinny person' to
                      'very overweight person' and this is independent of the pack size - you can buy the medium pack
                      with the extra large
                      hip belt if that's your body type. This was a big selling point to my overweight self, and I'm
                      sure it would be to
                      lots of other people since normally the hip belt scales with the pack like we all have the same
                      body type.
                    </p>
                    <p>
                      And now the only real downside. The price. I'm only aware of <a
                        href="https://ultralightoutdoorgear.co.uk/mariposa-60-rucksack/">one retailer</a>
                      in the UK that sells this pack, and it currently costs £310. Ouch. It was quite a bit cheaper when
                      I bought
                      it, and there were other options (two EU websites who are no longer as cheap as they once were in
                      a
                      post-Brexit world). So that's unfortunate. That being said... I would still recommend this pack,
                      at least
                      to the right person. I wouldn't buy it to go camping once obviously, but if you think you're going
                      to go a
                      bunch and it's time to upgrade from the £40 Amazon pack that ways 2Kg, and of course if you can
                      afford it,
                      then I'm honestly not sure there's a better rucksack than this one in existence.
                    </p>
                    <p>
                      The intersection of weight, design, comfort, sturdiness and useability is simply unmatched. Just a
                      shame
                      about the price!
                    </p>
                  </div>
                  <a href="#mariposaExpand" data-bs-toggle="collapse" id="mariposaLink2">Show More</a>

                  <!-- <button class="linkButtonLight" id="mariposabutton" type="button" data-bs-toggle="collapse" 
              data-bs-target="#mariposaExpand" aria-expanded="false" aria-controls="mariposa">Show More</button>             -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lightSection" id="vNotch">
          <div class="row">
            <div class="col">
              <span class="backToTopLight"><a href="#home">
                  <p>BACK TO TOP</p>
                </a></span>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="gearTextContainer">
                  <div class="gearTextLeft">
                    <div class="h5cont"><h5>Big Agnes VNotch UL 40 Sleeping Bag</h5></div>
                    <p>
                      Synthetic or down? The ultimate hiker's conundrum. Down is a natural substance from birds (a layer
                      under the feathers) and when put into a jacket or sleeping bag it lofts up and traps warm air and
                      keeps you very warm. And then when you're done it compresses down really, really small and is very
                      lightweight so it's easy to pack and carry.
                    </p>
                    <p>
                      Synthetic insulation, on the other hand, is generally heavier and less compressible. It's
                      improving all
                      the time and mostly it seems to do that by clever people trying to make synthetic fibres that
                      closely mimic
                      down.
                    </p>

                    <div id="vnotchExpand" class="collapse">

                      <p>
                        So with that being the case, you would choose down, right? It's lighter, warmer, and more
                        compressible.
                        These are very obviously things you want in a sleeping bag you're going to carry for miles at a
                        time.
                        So there no contest, right?
                      </p>
                      <p>
                        Well of course there is. Down doesn't work when it's wet. Like, at all. When the fibres get wet,
                        they clump
                        up and don't loft and if they don't loft they don't insulate. At all. And wow, I wonder if a
                        sleeping bag
                        might get wet in average UK weather? And wet doesn't just mean rain by the way. All tents will
                        have some
                        form of condensation on the inside at some point, not to mention human beings sweat, sweat makes
                        things
                        wet and your sleeping bag gets pretty close to your body... which you sweat from.
                      </p>
                      <p>
                        As with synthetic fibres, a lot of progress has been made in treating down - giving it
                        waterproofing (or
                        resistance, at least) so some bags as long as they're not completely soaked will still function.
                        And then
                        there's the option of making the bag from waterproof material, of course. But it still seems
                        like a risk to
                        me.
                      </p>
                      <p>
                        Don't get me wrong, a lot of people choose down. Most, maybe. But living in the UK I just don't
                        see it as the
                        smart choice. Your bag will get wet eventually and maybe a modern down bag will hold up and
                        maybe it won't
                        but I know a synthetic bag will still have at least some warmth when wet and when it comes to
                        something that
                        could literally save your life, my personal opinion is - why take the chance?
                      </p>
                      <p>
                        So I would rather carry the extra weight for the peace of mind. Plus there's the benefit that a
                        decent down
                        bag is going to be <em>very</em>expensive, and a decent synthetic bag will range from
                        not-too-expensive to
                        a bit expensive.
                      </p>
                      <p>
                        Except this one. This one is quite expensive (still not compared to down) and also quite
                        lightweight (but
                        not really compared to down). The bag weighs under 600g, costs about £180 and is rated to 40°F
                        (4°C)
                        although these ratings are just a guide and will vary from person to person. I've personally
                        used it at
                        0°C wearing just a thermal baselayer and was never cold. At under 600g for a synthetic bag, that
                        is
                        exceptional. For down comparison, a good bag rated for the same temperature would probably
                        weight about
                        200g less and cost anywhere from the same to £100 more. And then there would be some that would
                        cost
                        even more than that. Sleeping bags costing more than £500 are not undheard of.
                      </p>
                      <p>
                        I am unaware of any synthetic bag that can match this one for compressibility, weight and
                        warmth.
                        I do consider it on the pricier side but in the end I decided it was probably worth it for the
                        weight
                        saving so I saved up (and of course not camping for two years of the pandemic was helpful here).
                      </p>
                      <p>
                        Whether you choose down or synthetic is up to you, I can only tell you my choice, but if
                        synthetic is the
                        way you want to go then you would be hard-pressed to find a better bag than this.
                      </p>
                      <p>
                        My only complaint other than the price (which isn't really a complaint since obviously I knew
                        what it
                        cost when I bought it) is that the zipper will often get snagged on the material. it's
                        inevitable really
                        the first place almost all manufacturers go to save weight on a bag is the zip, so this has a
                        tiny
                        little dinky thin one which I think is the problem. You can always sort it out though, it's
                        never
                        been what I would consider a real problem, just an annoyance.
                      </p>

                      <p>





                      </p>
                    </div>
                    <a href="#vnotchExpand" data-bs-toggle="collapse" id="vnotchLink">Show More</a>

                    <!-- <button class="linkButtonLight" id="vnotchbutton" type="button" data-bs-toggle="collapse" 
                data-bs-target="#vnotchExpand" aria-expanded="false" aria-controls="vnotchExpand">Show More</button>             -->
                  </div>
                </div>
              </div>

              <div class="col-lg-6 ">
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-6">
                      <img src="../images/gear_images/vnotch1.jpg" onclick="openDefaultModal();currentDefaultSlide(7)"
                        class="defaultImage gearThumbnail1 clickableImage" alt="Big Agnes VNotch UL 40 Sleeping Bag">
                    </div>
                    <div class="col-xxl-6">
                      <img src="../images/gear_images/vnotch2.jpg" onclick="openDefaultModal();currentDefaultSlide(8)"
                        class="defaultImage gearThumbnail2 clickableImage"
                        alt="Big Agnes VNotch UL 40 Sleeping Bag in Stuff Sack">
                    </div>
                  </div>
                </div>
              </div>


              <div class="darkSection" id="crashout">
                <div class="row">
                  <div class="col">
                    <span class="backToTopDark"><a href="#home">
                        <p>BACK TO TOP</p>
                      </a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 hideAtBig">
                    <div class="gearTextContainer">
                      <div class="gearTextLeft">
                        <div class="h5cont"><h5>Gram Counter Gear Crash Out Sleeping Mat</h5></div>
                        <p>
                          A very good mat with regards to the intersection of price and weight. Mostly only for the
                          warmer months,
                          but let's be honest, that's when most of us camp anyway.
                        </p>
                        <p>
                          The Thermarest NeoAir X-Lite has become the gold standard benchmark for ultralight hikers the
                          world over
                          due to its incredibly light weight (although Thermarest have since released the even-lighter
                          Uberlight,
                          although questions remain about this product's sturdiness), and yet this mat comes in at about
                          20g lighter
                          and at half to two-thirds the price (the X-lite can vary wildly in price, but expect to pay
                          £120-£180. The
                          Crash Out Mat costs £60 at
                          <a href="https://ultralightoutdoorgear.co.uk/crash-out-mat/">Ultralight Outdoor Gear</a>, the
                          only UK retailer
                          for Gram Counter Gear that I'm aware of.

                        <div id="crashoutExpand" class="collapse">

                          </p>
                          <p>
                            Half the price, for the same (or slightly less) weight? So what's the catch, you might be
                            thinking. Well, you'd
                            be right to. At least, there's a difference in the mats, although not so much a catch. The
                            difference is that
                            the Crash Out Mat has no insulation at all, where the NeoAir has quite a lot. I suppose
                            people who don't camp
                            think a sleeping mat is just for comfort - I did - but it incredibly isn't.
                          </p>
                          <p>
                            The first step in understanding the importance of sleeping mats is knowing that sleeping
                            bags
                            (and insulated jackets) work by having
                            "puffy things" inside - such as down or a synthetic down-mimicking insulation - that lofts
                            up and traps lots of nice
                            warm air between fibres. However, the lofting up is the crucial bit, so this type of
                            insulation will not
                            work when it's compressed i.e. the bottom of a sleeping bag with your body weight on it.
                            This is why a
                            lot of ultralight hikers favour quilts - they are lighter, and having insulated material
                            beneath you is
                            essentially a waste since it will not insulate anything when compressed.
                          </p>
                          <p>
                            The second thing to know is that when laying on the ground, you lose a lot more heat to the
                            cold ground through conduction than you do to the
                            air. Add to that the fact you have a sleeping bag preventing you from losing heat to the air
                            that does very
                            little to prevent you from losing heat to the ground and you should now be seeing the
                            importance of a layer
                            between you and the ground.
                          </p>
                          <p>
                            So basically the NeoAir X-Lite has enough insulated (a 4.5 R-value. You can google that if
                            you want to know)
                            that it should basically be fine all year round sleeping at sea level (i.e. not up a
                            mountain) in the south
                            of the UK. The Crash Out Mat, on the other hand, has no insulation at all, so what does this
                            mean?
                          </p>
                          <p>
                            Well, the act of raising you off the floor with a cusion of air beneath you will save you
                            from quite a lot
                            of heat loss regardless of added insulation. So this pad is definitely fine for camping the
                            the UK summer and
                            probably much of the spring and autumn as well. I would probably look at the weather
                            forecast and if it were
                            forecast to go no lower that 5°C then I would feel comfortable taking this mat (with an
                            appropriate sleeping
                            bag of course). Although that's just my personal feeling, and I do sleep quite warm -
                            everyone sleeps at a
                            different temperature (and men generally sleep warmer than women) so really the only way to
                            know what works for
                            you is to try different things.
                          </p>
                          <p>
                            So in conclusion, this mat is <em>great</em>for everything other than 'fairly cold' and
                            below. And honestly I'm
                            aware of nothing that can match its price/weight intersection. So if you're mostly a
                            summer/warmer camper then
                            I can definitely recommend this mat.
                          </p>
                          <p>
                            Oh and I just realised after saying most people thought sleeping mats were for comfort, I
                            haven't mentioned the
                            comfort at all. So I will. It's fine. Honestly, I find them all the same. I sleep mostly
                            fine and wake up a bit
                            stiff. If you can sleep comfortably on an X-Lite, or any other inflatable mat, then you'll
                            be fine on this.
                          </p>
                        </div>
                        <a href="#crashoutExpand" data-bs-toggle="collapse" id="crashoutLink">Show More</a>

                        <!-- <button class="linkButtonLight" id="crashoutbutton" type="button" data-bs-toggle="collapse" 
                data-bs-target="#crashoutExpand" aria-expanded="false" aria-controls="crashoutExpand">Show More</button>             -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="container">
                      <div class="row">
                        <div class="col-xxl-6">
                          <img src="../images/gear_images/crashout1.jpg"
                            onclick="openDefaultModal();currentDefaultSlide(9)"
                            class="defaultImage gearThumbnail1 clickableImage"
                            alt="Gram Counter Gear Crash Out Sleeping Mat">
                        </div>
                        <div class="col-xxl-6">
                          <img src="../images/gear_images/crashout2.jpg"
                            onclick="openDefaultModal();currentDefaultSlide(10)"
                            class="defaultImage gearThumbnail2 clickableImage"
                            alt="Gram Counter Gear Crash Out Sleeping Mat in Stuff Sack">
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-lg-6 hideAtSmall">
                    <div class="gearTextContainer">
                      <div class="gearTextRight">
                        <div class="h5cont"><h5>Gram Counter Gear Crash Out Sleeping Mat</h5></div>
                        <p>
                          A very good mat with regards to the intersection of price and weight. Mostly only for the
                          warmer months,
                          but let's be honest, that's when most of us camp anyway.
                        </p>
                        <p>
                          The Thermarest NeoAir X-Lite has become the gold standard benchmark for ultralight hikers the
                          world over
                          due to its incredibly light weight (although Thermarest have since released the even-lighter
                          Uberlight,
                          although questions remain about this product's sturdiness), and yet this mat comes in at about
                          20g lighter
                          and at half to two-thirds the price (the X-lite can vary wildly in price, but expect to pay
                          £120-£180. The
                          Crash Out Mat costs £60 at
                          <a href="https://ultralightoutdoorgear.co.uk/crash-out-mat/">Ultralight Outdoor Gear</a>, the
                          only UK retailer
                          for Gram Counter Gear that I'm aware of.

                        <div id="crashoutExpand" class="collapse">

                          </p>
                          <p>
                            Half the price, for the same (or slightly less) weight? So what's the catch, you might be
                            thinking. Well, you'd
                            be right to. At least, there's a difference in the mats, although not so much a catch. The
                            difference is that
                            the Crash Out Mat has no insulation at all, where the NeoAir has quite a lot. I suppose
                            people who don't camp
                            think a sleeping mat is just for comfort - I did - but it incredibly isn't.
                          </p>
                          <p>
                            The first step in understanding the importance of sleeping mats is knowing that sleeping
                            bags
                            (and insulated jackets) work by having
                            "puffy things" inside - such as down or a synthetic down-mimicking insulation - that lofts
                            up and traps lots of nice
                            warm air between fibres. However, the lofting up is the crucial bit, so this type of
                            insulation will not
                            work when it's compressed i.e. the bottom of a sleeping bag with your body weight on it.
                            This is why a
                            lot of ultralight hikers favour quilts - they are lighter, and having insulated material
                            beneath you is
                            essentially a waste since it will not insulate anything when compressed.
                          </p>
                          <p>
                            The second thing to know is that when laying on the ground, you lose a lot more heat to the
                            cold ground through conduction than you do to the
                            air. Add to that the fact you have a sleeping bag preventing you from losing heat to the air
                            that does very
                            little to prevent you from losing heat to the ground and you should now be seeing the
                            importance of a layer
                            between you and the ground.
                          </p>
                          <p>
                            So basically the NeoAir X-Lite has enough insulated (a 4.5 R-value. You can google that if
                            you want to know)
                            that it should basically be fine all year round sleeping at sea level (i.e. not up a
                            mountain) in the south
                            of the UK. The Crash Out Mat, on the other hand, has no insulation at all, so what does this
                            mean?
                          </p>
                          <p>
                            Well, the act of raising you off the floor with a cusion of air beneath you will save you
                            from quite a lot
                            of heat loss regardless of added insulation. So this pad is definitely fine for camping the
                            the UK summer and
                            probably much of the spring and autumn as well. I would probably look at the weather
                            forecast and if it were
                            forecast to go no lower that 5°C then I would feel comfortable taking this mat (with an
                            appropriate sleeping
                            bag of course). Although that's just my personal feeling, and I do sleep quite warm -
                            everyone sleeps at a
                            different temperature (and men generally sleep warmer than women) so really the only way to
                            know what works for
                            you is to try different things.
                          </p>
                          <p>
                            So in conclusion, this mat is <em>great</em>for everything other than 'fairly cold' and
                            below. And honestly I'm
                            aware of nothing that can match its price/weight intersection. So if you're mostly a
                            summer/warmer camper then
                            I can definitely recommend this mat.
                          </p>
                          <p>
                            Oh and I just realised after saying most people thought sleeping mats were for comfort, I
                            haven't mentioned the
                            comfort at all. So I will. It's fine. Honestly, I find them all the same. I sleep mostly
                            fine and wake up a bit
                            stiff. If you can sleep comfortably on an X-Lite, or any other inflatable mat, then you'll
                            be fine on this.
                          </p>
                        </div>
                        <a href="#crashoutExpand" data-bs-toggle="collapse" id="crashoutLink2">Show More</a>

                        <!-- <button class="linkButtonLight" id="crashoutbutton" type="button" data-bs-toggle="collapse" 
              data-bs-target="#crashoutExpand" aria-expanded="false" aria-controls="crashoutExpand">Show More</button>             -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lightSection" id="poles">
                <div class="row">
                  <div class="col">
                    <span class="backToTopLight"><a href="#home">
                        <p>BACK TO TOP</p>
                      </a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="row">
                    <div class="col-lg-6 ">
                      <div class="gearTextContainer">
                        <div class="gearTextLeft">
                          <div class="h5cont"><h5>Gram Counter Gear Fastpacker Trekking Poles</h5></div>
                          <p>
                            I hestitated to include these on this page because I'm not sure you can buy them any more,
                            but they
                            are the poles I use and I really like them so in the end I have.
                          </p>
                          <p>
                            I'll be honest, I hopefully won't need to buy poles again for a good long time, but if I
                            were looking, I
                            would probably just look for the price/weight intersection and buy the best I could find -
                            I'm pretty sure
                            that's what I did with these, in fact.</p>

                          <div id="polesExpand" class="collapse">

                            <p>
                              They cost £50 at the time (for the pair) and they weight about 180g
                              per pole. Both of those numbers are very good. You can get poles that weigh close to 100g
                              (they'll generally
                              be collapsible rather than telescopic, making them harder to carry) but they will usually
                              cost over £100. And
                              yes, you can pay less than £50, maybe as little as £20 on Amazon, but those will weight
                              probably twice (or
                              more) as much. So The price/weight intersection of these poles seems pretty ideal to me.
                            </p>
                            <p>
                              Other than that I don't really have a lot to say about them. They're made of carbon fibre
                              and thick enough
                              to be sturdy - maybe if you fell and caught your whole weight on them at an unfortunate
                              angle you could
                              damage them (true of most poles), but I've never had any trouble. I find the grip very
                              ergonomic and
                              comfortable, I will happy use these for hours at a time with no complaints. And the same
                              goes for the wrist
                              straps.
                            </p>
                            <p>
                              And really that's about it. Adverts for things like these always mention locking and shock
                              absorption and
                              many other things that I can't tell you a thing about but all I can say is they work as
                              you'd want, they
                              extend and stay extended when you put weight on them and then they retract when you want
                              them to and they
                              make walking long distances a bit easier and they don't cost or weight much. It's really
                              that simple, I think.
                            </p>
                          </div>
                          <a href="#polesExpand" data-bs-toggle="collapse" id="polesLink">Show More</a>

                          <!-- <button class="linkButtonLight" id="polesbutton" type="button" data-bs-toggle="collapse" 
                data-bs-target="#polesExpand" aria-expanded="false" aria-controls="polesExpand">Show More</button>             -->
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 ">
                      <div class="container">
                        <div class="row">
                          <div class="col-xxl-6">
                            <img src="../images/gear_images/poles1.jpg"
                              onclick="openDefaultModal();currentDefaultSlide(11)"
                              class="defaultImage gearThumbnail1 clickableImage"
                              alt="Gram Counter Gear Fastpacker Trekking Poles Extended">
                          </div>
                          <div class="col-xxl-6">
                            <img src="../images/gear_images/poles2.jpg"
                              onclick="openDefaultModal();currentDefaultSlide(12)"
                              class="defaultImage gearThumbnail2 clickableImage"
                              alt="Gram Counter Gear Fastpacker Trekking Poles Collapsed">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%- include("gearGallery") -%>

                    <%- include("../footer") -%>