!-- The Modal/Lightbox -->
  <div id="defaultModal" class="modal">
    <span class="close cursor" onclick="closeDefaultModal()">&times;</span>
    <div class="modal-content">
  
      <div class="defaultSlides">
        <div class="numbertext">1 / 12</div>
        <img src="../images/gear_images/minipeak1.jpg" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">2 / 12</div>
        <img src="../images/gear_images/minipeak2.jpg" style="width:100%" alt="Corfe Castle" class="corfe">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">3 / 12</div>
        <img src="../images/gear_images/lanshan1.jpg" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">4 / 12</div>
        <img src="../images/gear_images/lanshan2.jpg" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">5 / 12</div>
        <img src="../images/gear_images/mariposa1.jpg" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">6 defaultSlides/ 12</div>
        <img src="../images/gear_images/mariposa2.jpg" style="width:100%">
      </div>
    <div class="defaultSlides">
      <div class="numbertext">7 / 12</div>
      <img src="../images/gear_images/vnotch1.jpg" style="width:100%" alt="Corfe Castle" class="corfe">
    </div>
    <div class="defaultSlides">
      <div class="numbertext">8 / 12</div>
      <img src="../images/gear_images/vnotch2.jpg" style="width:100%">
    </div>
    <div class="defaultSlides">
      <div class="numbertext">9 / 12</div>
      <img src="../images/gear_images/crashout1.jpg" style="width:100%">
    </div>
    <div class="defaultSlides">
      <div class="numbertext">10 / 12</div>
      <img src="../images/gear_images/crashout2.jpg" style="width:100%">
    </div>
    <div class="defaultSlides">
      <div class="numbertext">11 / 12</div>
      <img src="../images/gear_images/poles1.jpg" style="width:100%">
    </div>
    <div class="defaultSlides">
    <div class="numbertext">12 / 12</div>
    <img src="../images/gear_images/poles2.jpg" style="width:100%">
  </div>
  
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusDefaultSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusDefaultSlides(1)">&#10095;</a>
    <!-- Caption text -->
      <div class="caption-container">
        <p id="defaultCaption"></p>
      </div> 
      
  </div>
</div>