<div class="contact" id="contact">
    <div class="row">
      <div class="col">
      <span class="backToTopLight"><a href="#home"><p>BACK TO TOP</p></a></span>
      </div>
    </div>

    <h2>Find Me Online</h2>

    <div class="row">
        <div class="col-2 empty emptyOuter">
            &nbsp;
        </div>
        <div class="col empty">
            &nbsp;
        </div>
        <div class="col empty">
            &nbsp;
        </div>
        <div class="col contactIcon">
            <i class="fa-brands fa-twitter fa-3x"></i>
        </div>
        <div class="col contactIcon">
            <i class="fa-brands fa-instagram fa-3x"></i>
        </div>
        <div class="col  contactIcon">
            <i class="fa-brands fa-facebook-f fa-3x"></i>
        </div>
        <div class="col contactIcon">
            <i class="fa-regular fa-envelope fa-3x"></i>
        </div>
        <div class="col empty">
            &nbsp;
        </div>
        <div class="col empty">
            &nbsp;
        </div>
        <div class="col-2 empty emptyOuter">
            &nbsp;
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!--     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');</style>
    <script src="../js/defaultModal.js" charset="utf-8"></script>
    <script src="../js/brockModal.js" charset="utf-8"></script>
    <script src="../js/swanModal.js" charset="utf-8"></script>
    <script src="../js/cromerModal.js" charset="utf-8"></script>
    <script src="../js/main.js" charset="utf-8"></script>
    <script src="../js/main2.js" charset="utf-8"></script>
</body>

</html>