<%- include("header") -%>


<div class="lightSection">
  <div class="row">
    <div class="col">
      <h1 id="mainTitle"> Hi, I'm Nic. </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 smallSelfieBox">
      <img src="images/mask_selfie_cropped.jpg" class="smallSelfie" alt="Site Owner Selfie">
    </div>
    <div class="col-lg-6 aboutBox">
      <p>I'm a web designer and programmer from Essex in England.</p>
      <p>I like the outdoors, which mostly manifests itself in as much camping and hiking as possible.</p>
      <p>I'm partially sighted, which mostly manifests itself by falling over a lot and having to be very careful
      with the hiking thing.</p>
      <p></p>
      <p>I've designed and built this website to, well, prove that I can design and build a website. It's built in Node.js
      (as well as HTML, CSS and Javascript, obviously), and you can find out more about it and my other designs by clicking on
      the web design link at the top of the page.</p>
    </div>
    <div class="col-lg-6 selfieBox">
      <img src="images/mask_selfie_cropped.jpg" class="selfie" alt="Site Owner Selfie">
    </div>
  </div>
  </div>


<%- include("footer") -%>
