<%- include("header") -%>


<div class="lightSection">
  <div class="row">
    <div class="col h1Container ">
      <h1 class="otherH1s">Sight Loss</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="sectionTextContainer">
        <div class=" sectionTextLeft">
          <p>
            From my perspective, this is the strangest section of this website. When creating a site about myself, the things 
          I'm interested in and those that go towards making me, well, me, I'm certain you have to mention the fact that I'm 
          partially sighted since it's such a huge influence on everything I do and my entire life. But on the other hand, I 
          don't really have a lot to say about it.
          </p>
          <p>
            So I suppose I'll just jot down some random thoughts. One thing I know I want to mention, though, is my 
            <a href="#whitecane">white cane</a>.
            I made it myself (sort of but also not at all) and I love it and think it could be of genuine use to other people 
            with site loss.
          </p>
          <p>
            Other than that though, the reason I don't have much to say is because all sight loss is different. My experience 
            personally would lead me to one piece of advice above all others - always have a cap on you. But again, I have no
            idea if this would hold for anyone else. I struggle a lot with light. I'm blind in one eye, and in the other have 
            a reduced field of vision around the edges and a blind spot running diagonially across more-or-less the middle. 
            </p>
            <p>
            But also I think everything is a bit darker for me. Sometimes I struggle to read something, even in a well-lit room, but 
            if I put a headtorch on, suddenly it's not a problem. There's just never enough light hitting where I need it to 
            inside, it seems. But outside, the opposite then becomes true and I am very easily blinded. Hence, the hat.        
          </p>
        </div>
      </div>
    </div>
      <div class="col-lg-6">
        <p>Hi</p>
      </div>
    </div>
  </div>
  <div class="darkSection">
    <div class="row">
      <div class="col">
      <span class="backToTopDark"><a href="#home"><p>BACK TO TOP</p></a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 ">
      </div>
        <div class="col-lg-6 ">
          <div class="sectionTextContainer">
            <div class=" sectionTextRight">
              <h3>Hats And Sunglasses</h3>
              <p>
                I wanted to talk about  this because many people seem to gravitate towards sunglasses, and I do use them too 
                and they certainly do help, 
                but if I had to choose between the two, I'd definitely choose the hat, without it sometimes I simply can't see
                anything walking towards the sun. My current favourite cap is 
                <a href="https://www.sundayafternoons.co.uk/collections/mens/products/vaporlite-stride-cap?variant=42021736186009">The Vaporlite Stride Cap</a>
                from Sunday Afternoons. </p>
                <p>
                I have several hats from this manufacturer and they are <em>really</em> well designed.
                They use exceptional fabrics that are light, breathable, and wick away sweat quickly and effectively. They have 
                , in my opinion, the best type of adjustment which is the buckle style where you can just pull one-handed to 
                tighten it (see photo to 
                the left), which is excellent for sudden gusts of wind that threaten to take your hat away. The closure s
                ystem also has 
                a bit of elastic in it which means the fit is stretchable and therefore never uncomfortable, and lots of their hats, 
                including this one, have reflective detailing on them - something I consider a massive selling point due to my almost 
                non-existant night vision.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="sectionTextContainer">
            <div class="sectionTextLeft">
              <p>
                But as I said, I do wear sunglasses a lot also. My eyes are quite sensitive to the light so I'll honestly wear 
                them on all but the greyest of days. I have two pairs to recommend here. The first is more a brand than a pair - 
                choose the pair that suit your style, but the lenses are <em>fantastic</em>. The brand is called 
                <a href="https://www.sungod.co/en-gb/">Sungod</a> and their 8KO polarised lenses are brilliant.
              </p>
              <p>
                Sungod have several colours of lenses and each one lets a different amount of light through and has a different 
                tint (there's a good lens guide on each product page on their website). They also have two lens classes - 4KO
                and 8KO with 8KO being the newer technology. Each of those then comes in either polarised or non-polarised. 
                I've never tried the 4KO but the 8KO are simply amazing - I've never 
                looked through a cleaner, crisper lens, including Oakley and Maui Jim (in my opinion).
              </p>
              <p>
                I'm partial to the 8KO polarised Smoke lens, personally. Smoke is basically their version of black or grey.
                It has 14% light transmission, which I find just about perfect. Light transmission is the amount of light the 
                lens lets through - although these days it's not the only factor since a lot of lenses cut out different amounts
                of light from different parts of the colour spectrum. So a 14% lens means it lets 14% of visible light through, 
                which for my eyes is just right. Most normal sunglasses will have a VLT (Visible Light Transmission) of anywhere 
                from 8-15%. Ray Ban's original lens and I think still the most popular is their G-15 which is green and has 15% 
                VLT. Oakley's black prizm polarized lens has 12% VLT. Getting the right balance for your eyes is important here.
                Too high a VLT and they won't do their job well, too low a VLT (too dark) and you'll struggle to see into shadow
                from a lighted area (you'll probably strugle with this regardless to be honest) and you'll struggle when the 
                sun suddenly goes behind a cloud or you walk into an area in shadow.
              </p>
              <p>
                But as I say, everyone is different and really the only way to know your preference is to try for yourself.
                Sungod's slate lens is a very good starting point, though. Also I should note they offer a lifetime guarantee
                on their frames - they're near indestructable but if you ever do manage to destroy them just send them 
                back and they'll repair or replace them. Only the frames though, which is unfortunate as the lenses are
                definitely the part you will damage eventually. That being said, their anti-scratch coating is better than 
                most I've come across and while they're nowhere close to scratch-<em>oroof</em> they are a bit mnore 
                scratch-<em>resistant</em> than other lenses, I'm fairly certain.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6">

        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="sectionTextContainer">
            <div class="sectionTextLeft">




            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sectionTextContainer">
            <div class="sectionTextRight">
              <p>
                My other sunglasses recommendation is 
                <a href="https://www.oakley.com/en-gb/product/W0OO9440?variant=888392499837&size=M">Oakley Clifden</a>. These 
                would be for sunnier days, as they're a bit darker, but for the hard-of-seeing among us, they're fantastic.
                They're mountaineer-style glasses, with (removable) side shields that basically stop almost all light getting 
                in the side and reflecting off the back of the lens and into your eye. They are so very clear to look through 
                for that reason and because Oakley's prizm lens technology is very good. I still rate the Sungod lenses better, 
                but these are nevertheless exceptional.
              </p>
              <p>
                I've linked to the Oakley website above and unless you want a custom frame/lens combination I would recommend 
                buying these for considerably cheaper almost anywhere other than directly from Oakley. I've also linked to the 
                Prizm Black Polarized lens, which is an excellent lens. It's 12% VLT and noticeably darker than the Sungod 
                Slate lens and better for completely sunny days (although the Sungod lens does fine here), but the Sungod 
                lens is probably a better everyday lens since I find the Oakley one a bit dark in a lot of situations.
              </p>
              <p>
                Oakley have a lens called Prizm Daily Polarized which is a bit lighter than the black version and is probably 
                the most directly comparable to Sungod Slate - so much so that when I got my Sungods I put the pair of Oakleys 
                I had with Prizm Daily on ebay because looking through the lenses was so similar that I found them redundant. 
                I don't think they make this model with that lens though, so you'd have to get a custom pair to get that and 
                that can get very expensive (if it's even an option they offer - this can change with time). But regardless 
                of which lens you go with, this is an excellent pair of glasses.
              </p>
            </div>
          </div>
        </div>
      </div>      
  </div>
  <div class="lightSection" id="whitecane">
    <div class="row">
      <div class="col">
      <span class="backToTopLight"><a href="#home"><p>BACK TO TOP</p></a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 ">
        <div class="sectionTextContainer">
          <div class="sectionTextLeft">
            <h3>My White Cane</h3>
            <p>
            The short version: I wrapped some reflective white tape around a hiking pole and called it an invention.
            </p>
            <p>
              With a bit more detail: I bought the same 
              <a href="https://shop.rnib.org.uk/white-reflective-tape-for-canes-1-metre-3304">reflective white tape</a>
              used on regular white canes from RNIB and a fully collapsible hiking pole and paired the two together, 
              which resulted in a white cane that can support my body weight should I stumble.
            </p>
            <p>
              The tape is designed to repair white canes (which are themselves aluminium canes wrapped in this tape) and
              sold by the metre. The walking pole I have is 120cm long (including the handle) so you need just over one 
              piece. At the time of writing it costs £3.20 (exc. VAT) oer metre, and is VAT_exempt if you are blind or 
              partially sighted, or buying on behalf of a blind of partially sighted person.
            </p>
            <p>
              The cane is the trickier and much more expensive part. I took a gamble on spending the money and it paid off.
            </p>
            <p>
              Originally I did so because I go hiking and walking and do so with a pole (and due to be <em>very</em> unsure
              of my footing on uneven ground I consider it an absolute necessity), but when walking in more congested areas 
              such as the New Forest, I felt I needed a white cane as well to let other people know I couldn't see very 
              well and possibly wouldn't see them to allow them to take this into consideration. Thus, this idea was born.
            </p>
            <p>
              But it ended up being for far more than just hiking. In my everyday life I'm fine walking on a oath - the 
              ocassional pothole aside - but if I want to do something as simple as cut across some grass then this becomes 
              trickier than you would think because of the nature of my sight loss. Being essentially blind in one eye 
              means no depth percention, no depth perception means you can't really see things like small rises and falls 
              in the ground level, and when the ground is suddenly six inches further down than you naturally expect, 
              a stumble is inevitable. And mostly that's fine, if a bit unnerving, but ocassionally you could fall over 
              and potentially hurt yourself.
            </p>
            <p>
              Then there's the blind spots in my vision - I can focus mostly fine on a specific spot, but only on a 
              <em>very</em> specific spot, and I will not necessarily see what is right next to it. This means if there's 
              a small hole from an animal (or in one instance a rather deep hole from a missing fence post where I quite
              seriously hurt my ankle) then I may well not see them. And that's where the pole comes in.
            </p>
            <p>
            It's not going to save you every time, but it does quite a lot of the time, and much more importantly, it gives 
            you (or at least me) the confidence to know you can walk across less than ideal terrain - and I mean in the 
            middle of a town here, not just out in the wilds - and emerge unscathed on the other side.
            </p>
            <p>
              Now the pole you use is very important. Most hiking poles these days are telescopic, and that's no good if 
              you want a collapsible cane. Once the you put the tape around one of the sections, it will no longer 
              fit inside another section, since they are originally sized to only just fit and the tape makes them too 
              wide. This rules out a large number of canes.
            </p>
            <p>
              Fortunately, there are also collapsible canes, although most modern versions of these will also not work.
              These are canes that are a specific length (and cannot be adjusted in length) and which fold into three 
              or four sections. However, many of these are unsuitable because they have a telescopic locking mechanism - 
              that is to say, you put all the parts together and then push down on the top part of the cane proper whilst 
              pulling up on the handle and part of the cane slides out of the handle and this is how you lock the cane 
              together. But for the same reason as the telescopic cane this will not work because applying white tape 
              will stop the cane moving into the handle thus meaning you can never collapse it. You could apply the tape 
              to all but the top part, but that part is usually quite big and it would look odd.
            </p>
            <p>
            However, I have found one brand of cane that is fully collapsible with no telescoping. I would imagine others 
            exist, and hopefully even cheaper versions, but I can't be sure and it's quite hard to tell. I bought a pair 
            for about £20 of Amazon originally that made no mention of telescoping, but they had the same telescoping locking
            mechanism. So the only ones I can be sure will work are the ones I have and that's the 
            <a href="https://ultralightoutdoorgear.co.uk/trail-blaze-poles/">Mountain King Trail Blaze Poles</a>
            As I said, they are unfortunately expensive, at the time of writing the retail for £90 (and those are actually 
            the cheapest poles Mountain King make!) but if you also use them as hiking poles then it is probably a justifiable
            cost. I, personally, am very glad I did it.
            </p>
            <p>
              I don't really know how much I need to say about the actual process. Buy the poles, buy the tape, apply the tape.
              Definitely not rocket science. You can apply the tape length-ways (as opposed to spiralling it round), it is 
              wide enough. The only thing I would say is to try to be precise trimming the ends of the tape, because if it 
              overlaps the joins then the pole will not fit together. But at the same time you don't want to end the tape 
              before the join particularly, otherwise you will have weird visible rings marring the whiteness of your cane
              and it will look odd.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="ulContainer" style="width:50%; text-align:left; margin:7rem 0 0 5rem;">
          <h5>Important Notes:</h5>
          <ul>
            <li>It must be a collapsible cane, not a telescopic one. With telescopic, the tape makes it too wide for the 
              sections to slide inside one another.
            </li>
            <li>
              Many collapsible canes also have a telescopic element nowdays. This would mean you could not make the whole
              cane white. The cane I've linked is the only one I know is fully collapsible.
            </li>
            <li>
              The white tape is sold by the metre. You can put it on length ways, so two metres should be more than ample.
            </li>
            <li>
              Make sure to trim the tape carefully. Overlapping the join can stop the sections snapping into place.
            </li>
            <li>
              If you get the cane I recommend, the rubber tips on the bottom are basically useless - they develop holes very
               quickly - but you can buy good ones at cheap prices from ebay.
            </li>
            <li>
              The main downside of this is the rubber tip makes it hard/impossible to tap the cane on the ground like with 
              a plastic-tip cane. The rubber sticks to the ground. A trade off I think is worth paying, but be warned.
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>






<%- include("footer") -%>
