/* MEDIA QUERY BREAKPOINTS 992, 768, 576 == Bootstrap lg, md, sm  */

@media (max-width: 1400px){
    /* Bootstrap xxl breakpoint */
    .gearThumbnail1{
      width: 300px;
      margin: 4% 0 2% 0 ;
    }.gearThumbnail2{
      width: 300px;
      margin: 2% 0 4% 0 ;
    }
  .gearTextLeft{
    margin: 10% 0 5% 20%;
  }
  .gearTextRight{
    margin: 10% 0 0 20%;
  }
  }

  @media (max-width: 1300px){
    #mainTitle{
      font-size: 8rem;
    }
  }

  @media (max-width: 1150px){
    #mainTitle{
      font-size: 7rem;
    }
    .otherH1sLong{
      font-size: 5rem;
    }
    .emptyOuter{
      display:none;
    }
  
    .sectionTextRight{
      line-height: 100%;
    }
  }
  
  /* END BIGGER WIDTH MEDIA QUERIES */
  
  






  @media (min-width: 993px){
  .carouselSmall, .hideAtBig, .smallSelfieBox{
    display:none;
  }
  }
  
  @media (max-width: 992px){
    #topLeft, .empty,  .selfieBox, .carouselBig, .hideAtSmall, .backToTopDark, .backToTopLight{
      display: none;
    }
    body{
        font-size: 3rem;
        }

    p{
        font-size: 3rem;
    }
    .navbar-toggler-icon{
      padding: 60px;
    }
    .nav-link, .sub-nav-link, .navbar-item, .nav-lnk:visited, .sub-nav-link:visited{
        font-weight: 400;
        width: 100%;
        font-size: 4rem;
        padding:15px 50px;
    }
    .navbar-brand{
    font-size: 3rem;
    }   
    .nav-link, .sub-nav-link, .navbar-item{
      background-color: #2d7370;
      color: #81f7dd !important;
      
    }
  
    .sub-nav-link, .sub-nav-link:visited{
      padding: 50px 0;
      background-color: #81f7dd;
      color: #2d7370 !important;
    }
  
    #mainTitle{
    padding: 5%;
    font-size: 11rem;
    }
    .aboutBox{
      width: 100%;
      padding: 5% 3% 3% 2%;
    }
    .aboutBox p{
      padding:0 60px;
    }
    .thumbnail{
      width:450px;
      height: 275px;
    }
    .gearTextLeft, .sectionTextLeft,   .sectionTextLeftWithHeading, .sectionTextRight, .sectionTextRightWithHeading, .campingLeftText, .campingRightText, .placesTextWrapper{
      width: 100%;
      padding: 8% 0 0 0;
      margin: 0;
      line-height: 1.4;
    }
    .gearTextLeft p, .sectionTextLeft p, .sectionTextLeftWithHeading p, .sectionTextRight p, .sectionTextRightWithHeading p, .campingLeftText p, .campingRightText p, .placesTextWrapper p, .showMore{
      padding: 1% 3% 0 5%;
    }
    .showMore{
        font-size: 2.3rem;
    }
    .anatomyCodeLeft, .anatomyCodeRight{
      width: 80%;
      margin: 10% 2% 5% 3%;
      /* font-size: 3rem; */
    }
    textarea{
        font-size: 2.5rem;;
    }
    .gearThumbnail1{
      width: 600px;
      padding: 15% 0 0 0;
    }
    .gearThumbnail2{
      width: 600px;
      padding: 11% 0;
    }
    .campingButtons{
      font-weight: 500;
      font-size: 4rem;
      width: 5em;
      margin: 100px 25px;
    }
  .linkList li{
    padding: 0 5%;
  }
    .row{
      bs-gutter-x:0;
    }
  .h1ContainerLong{
    width:100%;
    padding: 0;
  }
  .h1Container{
    width: 90%;
  }
  h1, .otherH1s, .otherH1sLong{
    font-size: 9rem;
}
h2{
font-size: 8rem;
}
h3, .lightSection h3, .darkSection h3{
font-size: 7rem;
}
h4{
font-size: 6rem;
}
h5{
font-size: 4.5rem;
}
.contact h2{
font-size: 8rem;
padding: 10% 0;
}

  .h5cont{
    width:98%;
    text-align: center;
    padding-top: 40px;
  }
  .linkList{
    padding: 4% 0;
  }
  }
  
  /* END 992 WIDTH MEDIA QUERIES */
  
  
  
  
  
  
  
  
@media (max-width: 600px){
  
    /* .gearThumbnail1, .gearThumbnail2{
        width: 400px;
    }
    body{
        font-size: 4rem;
        }

    p{
        font-size: 3rem;
    }
    .aboutBox p{
        padding:0 60px;
    }
    #mainTitle{
        padding: 5%;
        font-size: 11rem;
    }

    .navbar-toggler-icon{
        padding: 60px;
      }
    .nav-link, .sub-nav-link, .navbar-item, .nav-lnk:visited, .sub-nav-link:visited{
    font-weight: 400;
    width: 100%;
    font-size: 4rem;
    padding:15px 50px;
    }
    .navbar-brand{
    font-size: 3rem;
    }


    h1, .otherH1s, .otherH1sLong{
        font-size: 9rem;
  }
  h2{
    font-size: 8rem;
  }
  h3, .lightSection h3, .darkSection h3{
    font-size: 7rem;
  }
  h4{
    font-size: 6rem;
  }
  h5{
    font-size: 4.5rem;
  }
  .contact h2{
    font-size: 8rem;
  } */

}
  
  /* Brand #2d7370
  Gradient #62B6B7 50%, #97DECE
  nav links #439A97