/* MEDIA QUERY BREAKPOINTS 992, 768, 576 == Bootstrap lg, md, sm  */

@media (max-width: 1400px){
    /* Bootstrap xxl breakpoint */
    .gearThumbnail1{
      width: 300px;
      margin: 4% 0 2% 0 ;
    }.gearThumbnail2{
      width: 300px;
      margin: 2% 0 4% 0 ;
    }
  .gearTextLeft{
    margin: 10% 0 5% 20%;
  }
  .gearTextRight{
    margin: 10% 0 0 20%;
  }
  }

  @media (max-width: 1300px){
    #mainTitle{
      font-size: 8em;
    }
  }

  @media (max-width: 1150px){
    #mainTitle{
      font-size: 7em;
    }
    .otherH1sLong{
      font-size: 5em;
    }
    .emptyOuter{
      display:none;
    }
  
    .sectionTextRight{
      line-height: 100%;
    }
  }
  
  /* END BIGGER WIDTH MEDIA QUERIES */
  
  






  @media (min-width: 993px){
  .carouselSmall, .hideAtBig, .smallSelfieBox{
    display:none;
  }
  }
  
  @media (max-width: 992px){
    #topLeft, .empty,  .selfieBox, .carouselBig, .hideAtSmall, .backToTopDark, .backToTopLight{
      display: none;
    }
    body{
        font-size: 2.5em;
        }

    p{
        font-size: 1em;
    }
    .navbar-toggler-icon{
      padding: 60px;
    }
    .nav-link, .sub-nav-link, .navbar-item, .nav-lnk:visited, .sub-nav-link:visited{
        font-weight: 400;
        width: 100%;
        padding:15px 50px;
    }
    .navbar-brand{
    font-size: 1em;
    }   
    .nav-link, .navbar-item, .nav-lnk:visited{
      background-color: #2d7370;
      color: #81f7dd !important;
      font-size: 1.1em;
      
    }
  
    .sub-nav-link, .sub-nav-link:visited{
      padding: 50px 0 0 20px;
      background-color: #81f7dd;
      color: #2d7370 !important;
      font-size: 3rem;
    }
  
    #mainTitle{
    padding: 5%;
    font-size: 4em;
    }
    .aboutBox{
      width: 100%;
      padding: 5% 3% 3% 2%;
    }
    .aboutBox p{
      padding:0 60px;
    }
    .thumbnail{
      width:450px;
      height: 275px;
    }
    .gearTextLeft, .sectionTextLeft,   .sectionTextLeftWithHeading, .sectionTextRight, .sectionTextRightWithHeading, .campingLeftText, .campingRightText, .placesTextWrapper{
      width: 100%;
      padding: 8% 0 0 0;
      margin: 0;
      line-height: 1.4;
    }
    .gearTextLeft p, .sectionTextLeft p, .sectionTextLeftWithHeading p, .sectionTextRight p, .sectionTextRightWithHeading p, .campingLeftText p, .campingRightText p, .placesTextWrapper p, .showMore{
      padding: 1% 3% 0 5%;
    }
    .showMore{
        font-size: 1em;
    }
    .codeContainer{
      width: 80%;
      margin: 10% 2% 5% 3%;
      /* font-size: 3em; */
    }
    textarea{
        font-size: 2.5em;;
    }
    .gearThumbnail1{
      width: 600px;
      padding: 15% 0 0 0;
    }
    .gearThumbnail2{
      width: 600px;
      padding: 11% 0;
    }
    .campingButtons{
      font-weight: 500;
      font-size: 1em;
      width: 5em;
      margin: 100px 25px;
    }
  .linkList li{
    padding: 0 5%;
  }
    .row{
      bs-gutter-x:0;
    }
  .h1ContainerLong{
    width:100%;
    padding: 0;
  }
  .h1Container{
    width: 100%;
  }
  h1, .otherH1s, .otherH1sLong{
    font-size: 4em;
    padding: 0;
}
h2{
font-size: 3em;
}
h3, .lightSection h3, .darkSection h3{
font-size: 2.25em;
}
h4{
font-size: 2em;
}
h5{
font-size: 1.5em;
}
h6{
    font-size: 1.2em;
}
.contact h2{
  font-size: 2.5em;
padding: 10% 0;
font-weight: 900;
}

  .h5cont{
    width:98%;
    text-align: center;
    padding-top: 40px;
  }
  .pythonSectionHeading{
    padding:0;
  }
  .linkList{
    padding: 4% 0;
  }

  /* Image gallery (modal) close button */
  .close{
    font-size: 80px;
  }
  .modal{
    padding-top: 125px;
  }
  pre{
    font-size: .6em;
  }
  }
  
  /* END 992 WIDTH MEDIA QUERIES */
  
  
  
  
  
  
  
  
@media (max-width: 600px){
  
    /* .gearThumbnail1, .gearThumbnail2{
        width: 400px;
    }
    body{
        font-size: 4em;
        }

    p{
        font-size: 3em;
    }
    .aboutBox p{
        padding:0 60px;
    }
    #mainTitle{
        padding: 5%;
        font-size: 11em;
    }

    .navbar-toggler-icon{
        padding: 60px;
      }
    .nav-link, .sub-nav-link, .navbar-item, .nav-lnk:visited, .sub-nav-link:visited{
    font-weight: 400;
    width: 100%;
    font-size: 4em;
    padding:15px 50px;
    }
    .navbar-brand{
    font-size: 3em;
    }


    h1, .otherH1s, .otherH1sLong{
        font-size: 9em;
  }
  h2{
    font-size: 8em;
  }
  h3, .lightSection h3, .darkSection h3{
    font-size: 7em;
  }
  h4{
    font-size: 6em;
  }
  h5{
    font-size: 4.5em;
  }
  .contact h2{
    font-size: 8em;
  } */

}
  
  /* Brand #2d7370
  Gradient #62B6B7 50%, #97DECE
  nav links #439A97