
@media (min-width: 2000px){
    .maincontent{
        min-height:65%
    }
}

@media (max-width: 1200px ){
    
    .menuButton{
        display: block;
    }
    .menuB{
        display:none;
        width:100%;
        top:0;
        font-size: 3rem;
        border-radius: 0;
        z-index: 1;
        border:none;
        background-color: #677a99;
    }
    .menuB a, .menuB a:visited{
        color: #fff;
        text-decoration: none;

    }
    .menuB li{
        font-size: 2rem;
        margin-left: calc(10vw);
        padding: .75em;
    }
    p, .aboutBox p {
        font-size:  1.3rem;
    }
    .menuB .fa-angle-down, .fa-angle-up{
        font-size: 2.5rem;
    }

    .mainContent{
        margin: 0 10px;
    }
}

















@media (max-width: 992px){

    h1, #mainpage h1{
        transform: none;
        margin: 5% 0 5% 15%;
        padding: 0;
        font-size: 9rem;

    }
    .menuB > ul{
        margin-left: calc(5vw);
    }
    .menuB li{
        font-size: 4rem;
    }
    .menuButtonInside, .menuButton{
        font-size: 6rem;
    }
    li ul{
        margin-left: 0;
    }
    .aboutLeft, .codebox, .imageLeftBox{
        width: 85%;
        margin: auto;

    }
    .selfieContainer{
        margin: 50px 0;
    }
    .selfie{
        width:500px;
        height: 500px;
    }
    h1{
        font-size: 7rem;
        margin: 0;
    }
    h2{
        font-size: 7rem;
    }
    h3{
        font-size: 1.5rem;
        font-family: Montserrat;
        color: #444;
        font-weight: 500;
    }
    p {
        font-family: Lato;
        font-weight: 400;
        font-size: 1.5rem;
        color: #282828;
        text-align: left;
        padding: 10%;
    }
    .aboutBox p{
        font-size: 2rem;
        padding: 1% 2%;
        
    }
    .aboutBox ul{
        font-size: 1.1rem;
    }
    .wah img{
        border-top-left-radius: 30px;
        border-top-right-radius: 10%;
    }
    pre {
       font-size:  1rem;
       border-radius: 30px;
    }
    .contactIcon{
        font-size: 4rem;
    }
}
