/* Original bg: #81f-7dd original fg: #2d7-370 nav links #215-452 #225-754*/
/* old dark link colour 225754 */

/*ALL PAGES*/

html {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #81f7dd;
  min-height: 100%;
}

body,
.col-lg-6,
.col,
.row {
  border: 0;
  padding: 0;
  margin: 0;
}

p {
  font-family: Ubuntu;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .9px;
}
p.bold{
  font-weight: 900;
}
h1,
.otherH1s,
.otherH1sLong {
  font-size: 6em;
}

h1,
h2,
.otherH1s,
.otherH1sLong {
  font-family: Tangerine;
  color: #2d7370;
  width: 100%;
  padding: 0 20%;
}

.h1Container {
  width: 100%;
  padding: 0 70px;
}

.h1ContainerLong {
  width: 100%;
  padding: 0 70px;
}

h5 {
  font-family: Merriweather;
  font-size: 1.4em;
  font-weight: 900;
  padding: 4% 0 0 0;
}

h6 {
  font-family: Merriweather;
  font-size: 1.1em;
  font-weight: 900;
  padding: 0 0 3% 0;
}

.center {
  text-align: center;
}

ul {
  text-align: left;
}

.ulContainer li {
  padding: 5em;
}

/* LINKS */


a {
  color: #1d4d4a;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #1d4d4a;
}

a:active {
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

/* BACK TO TOP LINKS */

.backToTopDark a {
  color: #81f7dd;
  text-decoration: none !important;

}

.backToTopDark a:visited {
  color: #81f7dd;
  text-decoration: none !important;

}

.backToTopDark a:hover {
  color: #81f7dd;
  text-decoration: underline;
}

.backToTopLight a {
  color: #2d7370;
  text-decoration: none;

}

.backToTopLight a:visited {
  right: 0;
  color: #2d7370;
  text-decoration: none;

}

.backToTopLight a:hover {
  right: 0;
  color: #2d7370;
  text-decoration: underline;
}


.darkSection a {
  color: #81f7dd;
  text-decoration: underline;

}

.darkSection a:visited {
  color: #81f7dd;
  text-decoration: underline;

}

.darkSection a:hover {
  color: #81f7dd;
  text-decoration: underline;
}


/* BUTTON LINKS */

.linkButtonDark {
  background-color: #2d7370;
  color: #81f7dd;
}

.linkButtonDark:hover {
  background-color: #81f7dd;
  color: #2d7370;
  text-decoration: none;
  border: 2px solid;
}

.linkButtonLight:hover {
  background-color: #2d7370;
  color: #81f7dd;
}

.linkButtonLight {
  background-color: #81f7dd;
  color: #2d7370;
  text-decoration: none;
}

.linkButtonLight:visited {
  background-color: #81f7dd;
  color: #2d7370;
  text-decoration: none;
}








/*NAVBAR*/

.navbar {
  top: 0;
  width: 100%;
  line-height: 2em;
  background-color: #81f7dd;
}

.dropdown-menu {
  background-color: #2d7370;
  color: #81f7dd;
}

.navbar-toggler-icon {
  padding: 60px;
}

.navbar-brand {
  padding-left: 1em;
  color: #2d7370;
}

.navbar-brand:hover {
  color: black;
}

.navbar-brand:visited {
  margin-left: 1em;
  color: #1d4d4a;
}

.navbar-item {
  padding: 0 1em;
}

.nav-link {
  color: #1d4d4a;
  font-weight: 600;
}

.nav-link:hover {
  color: #1d4d4a;
  text-decoration: underline;
}

.nav-link:visited {
  color: #1d4d4a;
  /* font-weight: 600; */
}

.nav-link:active {
  color: #000;
  text-decoration: underline;
}

.sub-nav-link {
  color: #81f7dd;
  font-weight: 600;
  /* color:red; */
}

.sub-nav-link:visited {
  color: #81f7dd;
  /* font-weight: 600;
  color:red; */
  text-decoration: none;
}

.sub-nav-link:hover {
  text-decoration: none;
  background-color: #81f7dd;
  color: #1d4d4a;
  font-weight: 600;
}


/* END NAVBAR */










/* SECTIONS */

.lightSection {
  background-color: #81f7dd;
  color: #1d4d4a;
  text-align: center;
}

.darkSection {
  background-color: #2d7370;
  color: #81f7dd;
  text-align: center;
}

.lightSection h3 {
  font-size: 3em;
  color: #2d7370;
  margin-top: 4%;
}

.darkSection h3 {
  font-size: 3em;
  color: #81f7dd;
  margin-top: 4%;
}

.backToTopLight,
.backToTopDark {
  position: absolute;
  left: 5px;
}

.backToTopDark p,
.backToTopLight p {
  font-size: 1em;
}

.sectionTextLeft {
  width: 60%;
  margin: 2em 0 2em 20%;
  text-align: left;
  /* font-weight:450; */
}

.sectionTextRight {
  width: 60%;
  margin: 2em 10% 2em 20%;
  text-align: left;
}

.sectionTextLeftWithHeading {
  width: 60%;
  margin: 0 0 2em 20%;
  text-align: left;
}

.sectionTextRightWithHeading {
  width: 60%;
  margin: 0 0 2em 20%;
  text-align: left;
}

.sectionTextContainer {
  text-align: left;
  width: 100%
}

.darkSectionHr,
.lightSectionHr {
  height: 1px !important;
  width: 82%;
  opacity: 100;
  margin: 2% auto;
}

.darkSectionHr {
  color: #81f7dd;

}

.lightSectionHr {
  color: #2d7370;
}


/* END ALL PAGES */





/*ALL PAGES EXCEPT MAIN*/



/* END NON MAIN */





/*MAIN PAGE */



#mainTitle {
  color: #2d7370;
  font-size: 9em;
  padding: 0 20%;
}

.selfie {
  margin: 6% 22% 0 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.smallSelfie {
  width: 600px;
  height: 600px;
  margin: 6% auto;
  border-radius: 100%;
}

.aboutBox p {
  padding: 0 23% 0 17%;
  color: #2d7370;
  text-align: left;
}

/* END MAIN */




/*  WEBDEV  */

/* ANATOMY */
.anatomyCodeContainer {
  width: 70%;
  margin: 2em 20%;
  background-color: black;
  color: white;
}

.anatomyTextContainer {
  text-align: left;
}

.codeSnippetContainer {
  /* background-color: black; */
  width: 60%;
  margin-left: 20%;
}

/* END WEBDEV */






/* PYTHON */

.pythonH5 {
  padding: 1% 0 6% 0;
}

.pythonCodeContainer {
  width: 84%;
  height: 30%;
  margin: 2em 8%;
  background-color: black;
  color: white;
}

pre {
  width: 84%;
  height: 35em;
  text-align: left;
  margin: 9em 9% 0 9%;
  /* overflow-y:hidden;weather */
   background-color: #000;
  padding-bottom: 0;
}
.firstPre{
  margin: 3em 9% 0 9%;
  padding: 0;
}
.secondPre{
  margin: 3em 9% 0 9%;
}
.shortPre{
  height: 25em;
}
.withImagePre{
  margin: 16em 9% 0 9%;

}
code{
  font-weight: 900;
  background-color: black;
  color:orange; 
}
.anatomyPre{
  margin: 2em 9%
}
.pythonImage{
  width:85%;
  /* margin-left: 7%; */
  /* margin-right: 25%; */
  margin: 2em auto 0 auto;
  border-radius: 2%;

}
.thumbCaption{
  font-size: .9em;
  font-weight:900;
  margin:0 auto 3em auto;
  padding:0 auto;
}
.pythonSectionHeading{
  padding:.5em 0 0 0;
}
.spacer{
  width: 100%;
  height: 3em;;
}

/* END PYTHON */








/* CAMPING MAIN */

.campingLeftText {
  margin: 10% 15% 0 15%;
}

.campingRightText {
  margin: 15% 15% 10% 15%;
}

.campingButtons {
  font-weight: bold;
  width: 100px;
  margin: 0 25px;
}

/* END CAMPING */




/* PLACES */


.placesTextWrapper {
  text-align: left;
  width: 80%;
  margin: 3% 5% 10% 5%;
}

.placesPadding {
  padding: 5% 0;
}

#brockSoloImage {
  padding-bottom: 15%;
}

#swanSoloImage {
  padding: 15% 0;
}

.leftPlaceImageWithText {
  max-width: 70%;
  float: left;
  padding: 20px;
}

.rightPlaceImage {
  max-width: 70%;
  margin: 6% 0;
  max-height: 500px;
}

.rightPlaceImageWithText {
  width: 70%;
  float: right;
  padding: 20px;
}

.leftPlaceImage {
  width: 70%;
  margin: 6% 0;
}

.thumbnail {
  width: 200px;
  height: 150px;
  margin: 5% 0;
}

.clickableImage:hover {
  cursor: pointer;
}

.copyright {
  padding-top: 4em;
}

/* END PLACES */


*/Carousel */ .carousel-control-prev {
  opacity: .75;
}

.carousel-control-next {
  opacity: .75;
}

.carousel-indicators {
  opacity: .75;
}

.carousel {
  margin-top: 10%;
}




/* GEAR */

.linkList {
  list-style-type: none;
  padding: 4% 10%;
}

.gearThumbnail1,
.gearThumbnail2 {
  width: 300px;
  margin: 25% 0;
}

.gearTextLeft {
  text-align: left;
  width: 60%;
  margin: 10% 0 10% 20%;
}

.gearTextRight {
  text-align: left;
  width: 60%;
  margin: 10% 10% 10% 20%;
}


/* CONTACT */

.contact {
  background-color: #81f7dd;
  color: #2d7370;
  text-align: center;
  padding: 30px 0;
}

.contact h2 {
  font-size: 4em;
}

.contactIcon a:hover {
  color: black;
  cursor: pointer;
}

/* END CONTACT */