<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?
family=Charm:wght@400;700&
family=Lato:wght@400;700;900&
family=Merriweather:wght@400;700;900&
family=Montserrat:wght@400;500;600;700;800;900&
family=Poppins:wght@400;500;600;700;800;900&
family=Satisfy&
family=Tangerine:wght@700&
family=PT+Serif:wght@400;700&
family=Libre+Baskerville:wght@400;700&
family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">



    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/32d377dece.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/css/bridge_styles.css">
</head>

<body>

    <div class="topSection">
        <div class="mainHead">
            <h1> I Have A Bridge<br>
                To Sell You.</h1>
        </div>
        <div class="brochure">
            <p>
                Download our brochure for information on all of our wonderful bridges for sale.
            </p>
        </div>
    </div>
    <h2>Currently For Sale</h2>
    <div class="gallery">
        <div class="imageBox">
            <img src="/images/bridge_images/london_bridge.jpg" alt="">
        </div>
        <div class="imageBox">
            <img src="/images/bridge_images/millenium_bridge.jpg" alt="">
        </div>
        <div class="imageBox">
            <img src="/images/bridge_images/chelsea_bridge.jpg" alt="">
        </div>
        <div class="imageBox">
            <img src="/images/bridge_images/blackfriars_bridge.jpg" alt="">
        </div>
    </div>


    <div class="aboutSection">
        <div class="row">
            <div class="col-lg-6">
                <div class="aboutText">

                    <h3>Why us?</h3>
                    <p>We have more bridges in London for sale than any other company.</p>
                    <p>Whether you're interested in a small starter bridge in the arched footbridge catergory or an iconic
                        landmark.
                        we will definitely have a bridge to meet your needs
                    </p>
                    <p>
                        Our London bridges are conveniently located all throughout the city, spanning rivers, railway
                        lines and roads.
                    </p>
                    <p>
                        Whatever area of London you are considering buying a bridge in, we'll have you covered.
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="aboutImg">

                    <div class="row">
                        <div class="col-lg-2">&nbsp;</div>
                        <div class="col-6">

                            <p class="aboutImgLeftText">Call our bridge expert now on 0181-811-81-81</p>
                            <p class="aboutImgLeftText">Or use our <a href="#contact">Contact Form</a> to request a
                                callback.
                            </p>
                        </div>
                        </div>
                        <div class="row">

                        <div class="col-5"> &nbsp; </div>

                        <div class="col-6">


                            <img src="/images/bridge_images/tony_blair.jpg" alt="">
                            <span style="text-align: right;width: 100%;">
                                <p style="font-size: 1.1em;">Tony, bridge expert.</p>
                            </span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>




    <div class="quoteSection">
        <img src="/images/bridge_images/putney_bridge.jpg" alt="" class="quoteBridge">
        <div class="quote">
            <p><i class="fa-solid fa-quote-left"></i></p>
            
            <div class="actualQuote"><p>I love my new bridge! I can't wait to get it home!</p></div>
            <div class="rightQuoteMark">
                <p><i class="fa-solid fa-quote-right align-baseline"></i></p>
            </div>
            <span id="attribution">
                <p id="">-- Boris, bridge buyer</p>
            </span>
        </div>
        <img src="/images/bridge_images/boris_johnson.jpg" alt="" class="boris">
    </div>

    <br><br><br><br><br><br><br>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>